.container {
    margin: 0 auto;
    max-width: 361px;
}

.tittle {
    margin-top: 48px;
    font-weight: 600;
    font-size: 32px;
    color: #000;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 735px;
        /* 705 контент (по макету) + 2*15 падинги */
        padding-left: 15px;
        padding-right: 15px;
    }

        .tittle {
            font-size: 40px;
        }

    .list{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1254px;
        /* 1224 контент (по макету) + 2*15 падинги */
    } }