.footer {
  height: 94px;
  background-color: #3d2218;
  padding: 24px 108px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #ffffff;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.copy {
  opacity: 0.8;
  text-align: center;
  flex: 1;
  font-size: 12px;
  font-weight: 400;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

/* Адаптив — для моб/таб */
@media screen and (max-width: 767px) {
  .footer {
    height: auto;
    padding: 24px 20px;
    text-align: center;
  }

  .inner {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .logo {
    order: 1;
  }

  .copy {
    order: 2;
    flex: unset;
  }

  .nav {
    order: 3;
    justify-content: center;
  }
}
